<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>画像倉庫@times-nakajima.com</title>
  </head>
  <body>
    <h1>画像倉庫@times-nakajima.com</h1>
    <marquee width='30%' scrolldelay='1'>ようこそ！times-nakajima.comへ！5MBまでのファイルがアップロードできます。</marquee>
    <form action='/' method='post' enctype='multipart/form-data'>
      <input type='file' name='imagedata'>
      <input type='submit' value='送信'>
    </form>

    <h2>今後のアップデート予定</h2>
    <ul>
      <li>S3に画像を上げる</li>
      <li>画像のリサイズ機能</li>
      <li>ドラッグアンドドロップで画像をアップロード</li>
      <li>Gyazoクライアントアプリを配布</li>
    </ul>
  </body>
</html>
